{% extends 'base.html.twig' %}

{% block title %}Operation index{% endblock %}

{% block body %}
    <h1>Operation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>InStock</th>
                <th>Q</th>
                <th>PriceIn</th>
                <th>PriceOut</th>
                <th>PriceInp</th>
                <th>CategoryId</th>
                <th>Status</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for operation in operations %}
            <tr>
                <td>{{ operation.id }}</td>
                <td>{{ operation.inStock }}</td>
                <td>{{ operation.q }}</td>
                <td>{{ operation.priceIn }}</td>
                <td>{{ operation.priceOut }}</td>
                <td>{{ operation.priceInp }}</td>
                <td>{{ operation.categoryId }}</td>
                <td>{{ operation.status }}</td>
                <td>{{ operation.createdAt ? operation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('operation_show', {'id': operation.id}) }}">show</a>
                    <a href="{{ path('operation_edit', {'id': operation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('operation_new') }}">Create new</a>
{% endblock %}
